footer#footer.scroll_item
	.top_line
		.content
			.boxes
				.logo_block.item_main
					a.logo(href="#")
						img(src="img/logo_lit-inn_white.svg", alt="")
					ul
						li
							a(href="#").link.arrow_link Privacy policy
						li
							a(href="#").link.arrow_link Cookies policy
				ul.menu.item_main
					li
						a(href="#").link.arrow_link Why LIT-INN
					li
						a(href="#").link.arrow_link Plans
					li
						a(href="#").link.arrow_link Immigration
					li
						a(href="#").link.arrow_link Team
					li
						a(href="#").link.arrow_link Blog
					li
						a(href="#").link.arrow_link Contact us
				.adreses.item_main
					.head Represented by Ploutos Associates Limited
					.info
						.item.link
							img(src="img/footer_icon_place.svg", alt="")
							span
								| 3rd floor, 207 Regent St, Marylebone,
								br
								| London W1B 3HH, UK
						a(href="tel:+44 20 7692 5686").item.link
							img(src="img/footer_icon_phone.svg", alt="")
							span +44 20 7692 5686
						a(href="mailto:info@ploutas.com").item.link
							img(src="img/footer_icon_mail.svg", alt="")
							span info@ploutas.com
						a(href="ploutas.com" target="_blank").item.link
							img(src="img/footer_icon_earth.svg", alt="")
							span ploutas.com
				.adreses.item_main
					.head Represented by Lit-Inn Limited
					.info
						.item.link
							img(src="img/footer_icon_place.svg", alt="")
							span
								| Omonoias 19,  Constantinides Building Floor 2, 
								br
								| Office 201, Limassol 3052, Cyprus
						a(href="tel:+44 20 7692 5686").item.link
							img(src="img/footer_icon_phone.svg", alt="")
							span +44 20 7692 5686
						a(href="mailto:info@lit-inn.com").item.link
							img(src="img/footer_icon_mail.svg", alt="")
							span info@lit-inn.com
						a(href="lit-inn.com" target="_blank").item.link
							img(src="img/footer_icon_earth.svg", alt="")
							span lit-inn.com
	.bott_line
		.content
			.boxes
				span Representation in the UK / Cyprus / Spain / Monaco / Denmark / Israel / Portugal
				span.coppy © 2019. All rights reserved.
				span.madeby
					a(href="#").mob Privacy policy
					a(href="#").mob Cookies policy
					| Made by Look
#side_dots
	li
		a(href="#main" title="Disrupting hospitality high returns").active
	.line
	li
		a(href="#about" title="About lit-inn")
	.line
	li
		a(href="#partnership" title="Partnership programs")
	.line
	li
		a(href="#why_invest" title="Why partner with us")
	.line
	li
		a(href="#future_plans" title="Vision")
	.line
	li
		a(href="#team_section" title="Meet our team")
	.line
	li
		a(href="#join_section" title="Join the lit-inn community")
	.line
	li
		a(href="#footer" title="Contacts")
#coocies
	.boxes
		img(src="img/cookies.svg", alt="")
		.text_wrap.boxes
			p
				| Important Cookie Information
				br
				br
				| This site uses cookies to give you the best possible experience.
				span.viewmore_content By continuing to use the site you agree that we can save cookies on your device. Cookies are small text files placed on your device that remember your preferences and some details of your visit. Our cookies don’t collect personal information. For more information and details of how to disable cookies, please read our updated privacy and cookie policy.
			button.view_more View more
			button.accept.btn.true_accept Accept
		.close +

script(src='js/jquery-3.4.1.min.js')
script(src='js/jquery.validate.min.js')
script(src='js/slick.min.js')
script(src='js/chart.min.js')
script(src='js/main.min.js')