footer
	.top_line
		.content
			.boxes
				.logo_block.item_main
					a.logo(href="#")
						img(src="img/logo_lit-inn_white.svg", alt="")
					ul
						li
							a(href="#").link.arrow_link Privacy policy
						li
							a(href="#").link.arrow_link Cookies policy
				ul.menu.item_main
					li
						a(href="#").link.arrow_link Why LIT-INN
					li
						a(href="#").link.arrow_link Plans
					li
						a(href="#").link.arrow_link Immigration
					li
						a(href="#").link.arrow_link Team
					li
						a(href="#").link.arrow_link Blog
					li
						a(href="#").link.arrow_link Contact us
				.adreses.item_main
					.head Represented by Ploutos Associates Limited
					.info
						.item.link
							img(src="img/footer_icon_place.svg", alt="")
							span
								| 3rd floor, 207 Regent St, Marylebone,
								br
								| London W1B 3HH, UK
						a(href="tel:+44 20 7692 5686").item.link
							img(src="img/footer_icon_phone.svg", alt="")
							span +44 20 7692 5686
						a(href="mailto:info@ploutas.com").item.link
							img(src="img/footer_icon_mail.svg", alt="")
							span info@ploutas.com
						a(href="ploutas.com" target="_blank").item.link
							img(src="img/footer_icon_earth.svg", alt="")
							span ploutas.com
				.adreses.item_main
					.head Represented by Lit-Inn Limited
					.info
						.item.link
							img(src="img/footer_icon_place.svg", alt="")
							span
								| Omonoias 19,  Constantinides Building Floor 2, 
								br
								| Office 201, Limassol 3052, Cyprus
						a(href="tel:+44 20 7692 5686").item.link
							img(src="img/footer_icon_phone.svg", alt="")
							span +44 20 7692 5686
						a(href="mailto:info@lit-inn.com").item.link
							img(src="img/footer_icon_mail.svg", alt="")
							span info@lit-inn.com
						a(href="lit-inn.com" target="_blank").item.link
							img(src="img/footer_icon_earth.svg", alt="")
							span lit-inn.com
	.bott_line
		.content
			.boxes
				span Representation in the UK | Denmark | Spain | Monaco
				span.coppy © 2019. All rights reserved.
				span.madeby
					a(href="#").mob Privacy policy
					a(href="#").mob Cookies policy
					| Made by Look

script(src='js/jquery-3.4.1.min.js')
script(src='js/jquery.validate.min.js')
script(src='js/slick.min.js')
script(src='js/chart.min.js')
script(src='js/main.min.js')