doctype html
html
	include includes/head.pug
	body
		.wrap_all
			.fixed_logo
				.content_big
					.logo_wrp
						a(href="#").logo
							img(src="img/logo.svg", alt="")

			section.top_section#main.scroll_item
				.top_section_bg
					img(src="img/main_bg.jpg", alt="")
				.content_big
					.main_slider

						.main_slider_wrap
							.slide
								h1.big_head
									| DISRUPTING HOSPITALITY
									br
									| HIGH RETURNS
								hr
								p.cont
									| Receive exclusive information on our partnership programs 
									br
									strong.sile_color where you can make up to 64% return in 3 years
								form.main_form
									.form_popup
										.close.butn +
										svg(version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewbox="0 0 52 52" xml:space="preserve").img
											style.
												.st0{fill:#0db5ac}
											path.st0(d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zm0 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24-10.8 24-24 24z")
											path.st0(d="M38.3 15.3L22.9 32.6l-9.3-7.4c-.4-.3-1.1-.3-1.4.2-.3.4-.3 1.1.2 1.4l10 8c.2.1.4.2.6.2.3 0 .6-.1.7-.3l16-18c.4-.4.3-1-.1-1.4-.3-.4-1-.4-1.3 0z")
										div
											h4
												| Thanks you !
											p
												| Your application is accepted
									input(type="hidden" name="form_type" value="Главный баннер")
									.input_wrp
										input(type="email" placeholder="Enter your e-mail")
									.input_submit
										button
											img(src="img/submit_decorate.svg", alt="").submit_decorate
											span Give me details

	


				.hand
					img(src="img/hand_3.png", alt="", data-axelerate="100").text1.paralax_el
					img(src="img/hand_2.png", alt="", data-axelerate="60").phone.paralax_el
					img(src="img/hand_1.png", alt="", data-axelerate="100").text2.paralax_el
				#main_menu_btn
					img(src="img/menu_open.svg", alt="")
				#main_menu
					.close_menu
						img(src="img/menu_close.svg", alt="")
					a(href="#").logo.mobile
						img(src="img/logo.svg", alt="")
					.links_block
						a(href="#").link About us
						a(href="#").link Immigration
						a(href="#").link News
						a(href="#").link.scroll_into_view Partnership programs
						a(href="#").link Contact us
					.round_wrp
						.socials.round_links
							a(href="#").link
								img(src="img/facebook-logo-button.svg", alt="")
							a(href="#").link
								img(src="img/youtube.svg", alt="")
							a(href="#").link
								img(src="img/linkedin.svg", alt="")
							a(href="#").link
								img(src="img/instagram-logo.svg", alt="")
						.languages.round_links
							a(href="#").link Eng
			section.about#about.scroll_item
				.content
					h2.big_head About LIT-INN 
					.boxes
						.video
							video
								source(src="video/videoplayback.mp4#t=0.1" type="video/mp4")
							.play_btn
								img(src="img/play_btn.svg", alt="")
						.text
							p
								| The abbreviation “LIT” means Life is Today. 
								strong LIT-INN 
								| is a life-style brand targeting aspiring, environmentally-minded, entrepreneurial, healthy and socially-responsible individuals (we call "Lit-inners"). 

							p LIT-INN is more than hotel, it’s a place where people could meet and interact, could work, stay, rest and enjoy facilities and do everything through their smart phones. In other words, it is a hotel and a club, including cafe-co-working, gym/SPA, bar/lounge and restaurant... all performed utilising latest technology.
					p "Life is Today" for us means four key elements which make up the Lit-Inn DNA: 
					ul
						li
							strong Under one roof: 
							| hotel / co-living, co-working/cafe, SPA/health club, multiple entertainment areas.
						li
							strong Green: 
							| green buildings, renewable energy and smart planting.
						li
							strong Smart: 
							| utilising technology to enhance customer comfort and flexibility.
						li
							strong Local: 
							| we work with local community, including entrepreneurs, food producers, artists and craftsmen.
			section.partnership#partnership.scroll_item
				.wawe_bg_wrap
					.content
						h2.big_head.white PARTNERSHIP PROGRAMS
						.slider_fourth
							.slide
								.slide_wrap
									.top_part
										.img_wrp
											img(src="img/partners_block/ic1.svg", alt="")
										.head Loan Notes
										p.decription
											| Loan Notes are secured investment products  for Self-Certified Investors. Currently we have 2 programs in place, offering  14% and 18% per annum , depending on the type of  note.
									.bottom_part
										.img_wrp
											img(src="img/partners_block/ic1.svg", alt="")
										.head LoanNotes
										form.form
											input(type="hidden" name="form_type" value="PARTNERSHIP LoanNotes")
											.input_wrp
												input(type="email" placeholder="Enter your e-mail")
											.input_submit
												button
													span Give me details
							.slide
								.slide_wrap
									.top_part
										.img_wrp
											img(src="img/partners_block/ic2.svg", alt="")
										.head Hotel Rooms
										p.decription
											| Investors could buy rooms at our establishments on a long-term lease basis (usually 125 years). Returns range between 6-12% + 105-125% buy-out option. There are also options for investors to partner with us on a profit sharing basis.
									.bottom_part
										.img_wrp
											img(src="img/partners_block/ic2.svg", alt="")
										.head Hotel Rooms
										form.form
											input(type="hidden" name="form_type" value="PARTNERSHIP Hotel Rooms")
											.input_wrp
												input(type="email" placeholder="Enter your e-mail")
											.input_submit
												button
													span Give me details
							.slide
								.slide_wrap
									.top_part
										.img_wrp
											img(src="img/partners_block/ic3.svg", alt="")
										.head Crowd-Funding
										p.decription
											| We are working with number of equity and debt crowd-funding platforms, offering investors varied returns depending on the type of products they choose. Expected returns for equity-based crowd-funding could be in excess of 20%. 
									.bottom_part
										.img_wrp
											img(src="img/partners_block/ic3.svg", alt="")
										.head Crowd-Funding
										form.form
											input(type="hidden" name="form_type" value="PARTNERSHIP Crowd-Funding")
											.input_wrp

												input(type="email" placeholder="Enter your e-mail")
											.input_submit
												button
													span Give me details
							.slide
								.slide_wrap
									.top_part
										.img_wrp
											img(src="img/partners_block/ic4.svg", alt="")
										.head Buy-to-Let
										p.decription
											| We are also developing small apartments, called "Lit-Inn Residences", that could be sold on a freehold or leasehold basis, including all the Lit-Inn hotel features. These are sold with management contract, where returns could range between 5 and 15%, depending on location.
									.bottom_part
										.img_wrp
											img(src="img/partners_block/ic4.svg", alt="")
										.head Buy-to-Let
										form.form
											input(type="hidden" name="form_type" value="PARTNERSHIP Buy-to-Let")
											.input_wrp
												input(type="email" placeholder="Enter your e-mail")
											.input_submit
												button
													span Give me details
							.slide
								.slide_wrap
									.top_part
										.img_wrp
											img(src="img/partners_block/ic5.svg", alt="")
										.head Crypto
										p.decription
											| We are currently setting up an option for investor to participate in our hotel projects by buying digital tokens that are linked to the project. This option is for investors familiar with the crypto nand blockchain space
									.bottom_part
										.img_wrp
											img(src="img/partners_block/ic5.svg", alt="")
										.head Crypto
										form.form
											input(type="hidden" name="form_type" value="PARTNERSHIP Crypto")
											.input_wrp
												input(type="email" placeholder="Enter your e-mail")
											.input_submit
												button
													span Give me details
							.slide
								.slide_wrap
									.top_part
										.img_wrp
											img(src="img/partners_block/ic6.svg", alt="")
										.head Joint-Ventures
										p.decription
											| For larger institutional and other investors we are also able to offer bespoke solutions, such as joint-ventures and partnerships, depending on the investor's appetite.
									.bottom_part
										.img_wrp
											img(src="img/partners_block/ic6.svg", alt="")
										.head Joint-Ventures
										form.form
											input(type="hidden" name="form_type" value="PARTNERSHIP Joint-Ventures")
											.input_wrp
												input(type="email" placeholder="Enter your e-mail")
											.input_submit
												button
													span Give me details
						
			section.why_invest#why_invest.scroll_item

				.content
					h2.big_head WHY PARTNER WITH US
					.slider_vertical
						.slide.slick-active
							.head Low entry threshold
							p.descr Investments start from £/€25,000
							p.cnt Investing in high profitability large real estate development projects used to be a domain for large sophisticated investors. We have devised partnership products when smaller investors could also participate in high returns of our projects. 

						.slide
							.head High profitability
							p.descr ROI up to 64% in 3 years
							p.cnt Our model is successful because of one fundamental factor: Value Creation. The blend of our investment banking and hotel management experience enables us to create value from the asset and operations perspective, which would provide our partners high returns.
						.slide
							.head High reliability
							p.descr Risks managed by robust business plan and experienced team
							p.cnt Team of successful professionals with 50+ years of experience gained at leading establishments and network of top-level specialised partners for energy efficiency, construction services, technology and marketing.
						.slide
							.head Flexibility
							p.descr Wide range of investment products
							p.cnt We are offering different partnership programs, which include: loan notes, hotel rooms and serviced buy-to-let apartments, investments through crypto-currency, and also immigration related partnership programs. 
			section.future_plans#future_plans.scroll_item
				.wawe_top_bg_wrap
					.content
						form.main_form
							input(type="hidden" name="form_type" value="Главный баннер")
							.input_wrp
								input(type="email" placeholder="Enter your e-mail")
							.input_submit
								button
									img(src="img/submit_decorate.svg", alt="").submit_decorate
									span Give me details
						h2.big_head VISION
						p
							| Our vision is to see Lit-Inn in every large city and tourist hotspot in Western Europe.
							br
							| We are targeting 
							strong.site_color 50 establishments 
							| in 8 years in an effort to reach economies of scale quickly.
						canvas#future_plans_graphic(data-action="https://devlink1.tk//bm/4bit/data.php")
			section.team_section#team_section.scroll_item
				.content
					h2.big_head MEET OUR TEAM
					.slider_fourth
						.slide
							.photo_block
								img(src="img/team_fotos_litinn/Jamil.jpg", alt="")
							.name Jamil Akhundov
							.proffesion Co-Founder
						.slide
							.photo_block
								img(src="img/team_fotos_litinn/Reda.jpg", alt="")
							.name Reda Diouri
							.proffesion Co-Founder
						.slide
							.photo_block
								img(src="img/team_fotos_litinn/Juan-Enrique-Bleda.jpg", alt="")
							.name Juan Enrique Bleda Martinez
							.proffesion Partner
						.slide
							.photo_block
								img(src="img/team_fotos_litinn/Nenoy.jpg", alt="")
							.name Yulian Nenov
							.proffesion Partner
						.slide
							.photo_block
								img(src="img/team_fotos_litinn/Emil.png", alt="")
							.name Emil Igidov
							.proffesion Partner
						.slide
							.photo_block
								img(src="img/team_fotos_litinn/Mocanu.jpg", alt="")
							.name Andrei Mocanu
							.proffesion Advisor
						.slide
							.photo_block
								img(src="img/team_fotos_litinn/Andre-Ventura.jpg", alt="")
							.name Andre Ventura
							.proffesion Advisor
						.slide
							.photo_block
								img(src="img/team_fotos_litinn/Richard.jpg", alt="")
							.name Richard Ellison
							.proffesion Head of Global Hotel Operations
						.slide
							.photo_block
								img(src="img/team_fotos_litinn/David.jpg", alt="")
							.name David Harper
							.proffesion Advisor
						.slide
							.photo_block
								img(src="img/team_fotos_litinn/Oksana.jpg", alt="")
							.name Oksana Vatrakshina
							.proffesion Head of Marketing
			section.join_section#join_section.scroll_item
				.bg_top_wave
					.content
						h2.big_head JOIN THE LIT-INN COMMUNITY
						.boxes
							.text
								p We are not only offering our partners good returns on their investments, we are offering something more. We are offering partners to become a part of successful, healthy and responsible community uniting like-minded people from all around Europe. 
								p If you have any questions or you would like to find more information about our current and future projects, please register through our registration form. We have something of value that will interest you.
							form.form
								.inputs_wrp
									.inputs
										.input_wrp
											img(src="img/form_input_avatar.svg", alt="")
											input(type="text" placeholder="Enter your e-mail")
										.input_wrp
											img(src="img/form_input_phone.svg", alt="")
											input(type="text" placeholder="+7 90 _ _ _   _ _ _   _ _")
										.input_wrp
											img(src="img/form_input_email.svg", alt="")
											input(type="email" placeholder="Enter your e-mail")
										label.input_checkbox
											.label
												input(type="checkbox")
												span.input
											span.description Subscribe to news from LIT-INN
										label.input_checkbox
											.label
												input(type="checkbox")
												span.input
											span.description Approval for the processing of personal data
									.popup
										.close.butn +
										svg(version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewbox="0 0 52 52" xml:space="preserve").img
											style.
												.st0{fill:#0db5ac}
											path.st0(d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zm0 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24-10.8 24-24 24z")
											path.st0(d="M38.3 15.3L22.9 32.6l-9.3-7.4c-.4-.3-1.1-.3-1.4.2-.3.4-.3 1.1.2 1.4l10 8c.2.1.4.2.6.2.3 0 .6-.1.7-.3l16-18c.4-.4.3-1-.1-1.4-.3-.4-1-.4-1.3 0z")

										p
										| Thanks you !
										br
										| Your application is accepted

								.submit_wrp
									.input_submit.not_close
										button.button
											span Give me details
									.input_submit.not_submit
										.button
											span Send one more




		include includes/foot.pug
