@font-face {
    font-family: 'Lato';
    src: local('Lato ExtraBold'), local('Lato-ExtraBold'),
        url('../fonts/hinted-Lato-ExtraBold.woff2') format('woff2'),
        url('../fonts/hinted-Lato-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Medium'), local('Lato-Medium'),
        url('../fonts/hinted-Lato-Medium.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/hinted-Lato-Bold.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'),
        url('../fonts/hinted-Lato-Black.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'),
        url('../fonts/hinted-Lato-Light.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/hinted-Lato-Regular.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

