@media (max-width 1700px)
	.content_big
		max-width 1280px
	#main_menu
		top 40px
		max-width none
		.links_block
			.link:not(:last-child)
				margin-right 35px
	.main_slider 
		box-sizing border-box
		padding-left 30px
		.slick-dots
			left -50px
		.round_wrp
			padding-top 80px
	.top_section
		padding-top 160px
		.hand
			max-width 530px
			bottom 0
		.top_section_bg
			min-width 1920px
			left 50%
			transform translateX(-50%)
	#side_dots
		left 10px
@media (max-width 1320px)
	.content
	.content_big
		max-width 800px
	.fixed_logo
		top 0
	.logo_wrp
		max-width: 106px;
	#main_menu_btn
		display block
		position fixed
		top 20px
		right 20px
		z-index 5
		width 30px
		transition filter 300ms
		&.fixed
			filter: contrast(0);
		img
			width 100%
	#main_menu
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		background alpha(#0cb4ab,.9)
		z-index 6
		padding 30px
		margin 0
		display none
		&.fixed
			.links_block
				.link
					color #fff
			.socials
				filter: none
			.languages .link
				background #fff
				color #0d766f
		.close_menu
			display block
			position absolute
			top: 19px;
			right: 23px;
			img
				width 23px
		.mobile
			display block
			width 142px
			margin-bottom 30px
			filter: brightness(20);
		.links_block
			display flex
			flex-direction column
			align-items: flex-start;
			position relative
			left 0
			margin-left 0
			padding 0
			top 0
			.link
				text-align left
				font-size 24px
				font-weight 800
				text-transform uppercase
				&:not(:last-child)
					margin 0 0 20px
		.round_wrp
			padding-top 45px
			display flex
			max-width 300px
			.link
				margin 0 20px 0 0
				width 100%
		.socials
			width: 100%;
			display flex
		.languages
			flex-shrink 0
			margin-left: auto;
			padding 0
	.main_slider
		padding 0
		z-index 2
		.slick-dots
			display none!important
	.top_section
		min-height: auto;
		.hand
			transform scaleX(-1)
			max-width: 430px;
			left auto
			right 0
			bottom auto
			top 60px
			img:not(:first-child)
				position relative
			.text1
			.text2
				display none
	.top_section .top_section_bg
		min-width: auto
		width 1320px
		left: 50%;
		transform none
		margin-left -500px
	.why_invest
		.slick-list
			padding-left 0
			padding-bottom 20px
		.slick-track
			display flex
		&:after
			display none
		.slide
			height auto
			padding-bottom 10px
			margin 0 !important
			&:after
			&:before
				display none
				
			
	.about .boxes
		.video
			width 100%
			margin 0 0 30px
		.text
			width 100%
	footer .item_main:not(:last-child)
		margin-right: 50px;
	footer
		.link
			padding 0
			&:after
				display none
		.adreses img
			margin-right: 10px;
			max-width: 14px;
		.logo_block
			display none
		.coppy
			order 3
			width: 100%;
			padding-top 20px
		.bott_line
			text-align center
			
	footer .bott_line .madeby
		.mob
			display inline-block
		*
			margin 0 10px
			
@media (max-width 1200px)
	.btn
		height: 60px;
		font-size 16px
		min-width: 210px;
	#coocies
		font-size: 12px;
		img
			max-width: 60px;
	#side_dots
		display none
	.future_plans #future_plans_graphic
		margin 30px 0 40px
		
@media (max-width 880px)
	.content
	.content_big
		max-width: 600px;
		
	.top_section
		padding-top 70px
	.main_slider
		.main_slider_wrap
			max-width 360px
		.big_head
			font-size: 26px;
			margin 0
		hr
			margin 30px 0
		.cont
			font-size 18px
			margin-bottom 45px
	.logo_wrp
		max-width: 110px;
	.top_section
		
		.hand
			max-width: 300px;
		.top_section_bg
			margin-left: -570px;
		
	.main_form
		.input_wrp
			margin-bottom 30px
			input
				width 100%
				padding: 21px
		.input_submit
			position relative
			margin auto
			button
				padding 21px
			.submit_decorate
				margin-right: -40px;
				max-width: 41%;
	.big_head
		font-size 39px
	.about
		font-size 18px
		.boxes
			margin-bottom 0
		ul li
			width 100%
			max-width none
			padding-right 0
			padding-left 30px
			&:after
				left 0
	.partnership .wawe_bg_wrap
		padding 120px 0
		background-size 100% 110px
	.partnership form button, .partnership form input
		font-size: 16px;
		padding: 20px 10px 22px;
		margin-bottom: 10px;
	.partnership
		.bottom_part img
			width 70px
		.head
			font-size: 24px;
			margin-bottom: 22px;
		.slider_fourth
			.img_wrp
				min-height 100px
			img
				width 90px
	// .why_invest .slide.slick-active:before
	// 	width: 80px;
	// 	height: 80px;
	// 	line-height: 80px;
	// 	font-size: 39px;
	// .why_invest .slide:after, .why_invest .slide:before
	// 	left: -70px;
	// .why_invest .slick-list
	// 	padding-bottom: 130px;
	.join_section .bg_top_wave
		padding-top 100px
	.join_section .text
		font-size 17px
		margin-bottom 50px
	.team_section .slick-list
		padding 0
	
	footer .menu
		display none
	footer .bott_line .boxes >*
		width 100%
		margin 5px 0
		padding 0
	#coocies
		line-height: 1.1;
		.boxes
			padding 0 30px 0 10px
			max-width: 580px;
		img
			max-width: 50px;
		.viewmore_content
			display none
		.accept
			margin-left: 13px;
			font-size 13px
			height: 42px;
			min-width: 130px;
		.close
			top: 0px;
			right: 6px;
		.text_wrap
			margin 0
			display block
		button
		.view_more
			display inline-block
		.view_more
			background-color transparent
			border none
			color #fff
			text-decoration underline
		p
			margin-bottom 10px
@media (max-width 650px)

	.content
	.content_big
		max-width: 300px;
	.logo_wrp
		max-width: 80px;
	#main_menu_btn
		top: 11px;
		right: 13px;
		width: 25px;
	.fixed_logo
		padding 4px 0
	.main_slider
		.main_slider_wrap
			max-width: 100%
		.big_head
			font-size 20px
		.big_head
		.cont
			padding-right 70px
	.top_section
		.hand
			max-width: 140px;
		.top_section_bg
			width 660px
			margin-left: -278px
	.main_form .input_wrp input
	.main_form .input_submit button
		font-size .8em
	.main_form .input_wrp
		margin-bottom 10px
	.about .boxes .video
		video
			border-radius 12px
		.play_btn
			width 30px
	.big_head
		margin-bottom 40px
		font-size 29px
	.partnership .top_part
		padding: 17px 20px 30px;
	.partnership .wawe_bg_wrap
		padding 70px 0
		background-size 100% 50px
	.about
		padding 60px 0
	// .why_invest
	// 	.slide
	// 		&.slick-active
	// 			&:before
	// 				width: 30px;
	// 				height: 30px;
	// 				line-height: 30px;
	// 				font-size: 19px;
	// 			&:after
	// 				top 30px
	// 				height: calc(100% - 50px);
	// 		&:before
	// 			width: 15px;
	// 			height: 15px;
	// 			line-height: 15px;
	// 			font-size: 13px;
	// 		&:before
	// 		&:after
	// 			left -33px
	// 	.slick-list
	// 		padding-left: 50px;
	// 		padding-bottom: 60px;
	.main_form
		max-width 320px
		
	.future_plans
		font-size: 17px;
		.wawe_top_bg_wrap
			padding-top 0
		.main_form
			position relative
			top 0
			margin-bottom 50px
	.wawe_top_bg_wrap
		background-size 100% 70px
	.team_section
		.slide
			width 300px
		
		.photo_block
			width 185px
			height 185px
	.join_section
		padding-bottom 80px
		.form
			margin 0
			width 100%
			.form input:not([type=checkbox])
				padding: 25px 10px 25px 72px;
	.team_section .slick-active:hover
		box-shadow none
	.join_section .form input:not([type=checkbox])
		padding: 18px 20px 16px 70px
	.join_section .form .input_wrp img
		max-width 18px
	footer
		.top_line
			padding-top: 36px;
			padding-bottom 30px
		.bott_line
			font-size 11px
			padding: 10px 0;
		.adreses .item
			margin-bottom 14px
	footer .item span
		white-space: unset;
		br
			display none
	.join_section .bg_top_wave
		padding-top 20px
	
	#coocies
		padding: 9px 0 10px;
		text-align center
		img
			display block
			max-width: 80px;
			margin-right: 5px;
		p
			text-align left
			margin-bottom 10px
		.accept
			display inline-block
			margin 0 5px
			height: 33px;
			min-width: 95px;
			padding: 0;
		.boxes
			padding 0 10px
	.join_section .submit_wrp .button
		height 60px
		line-height 60px
@media (max-width 650px) and (max-height 540px)
	#main_menu .links_block .link:not(:last-child)
		margin-bottom 10px
	#main_menu .mobile
		width 112px